run --ui_event_filters=-info,-stdout,-stderr
run --noshow_progress
run --noshow_loading_progress

query --ui_event_filters=-info
query --noshow_progress
query --noshow_loading_progress

cquery --ui_event_filters=-info
cquery --noshow_progress
cquery --noshow_loading_progress

info --ui_event_filters=-info
info --noshow_progress
info --noshow_loading_progress

build --verbose_failures
build --noincompatible_sandbox_hermetic_tmp
build --action_env=HOME=/home/ubuntu
build --test_env=HOME=/home/ubuntu
build --sandbox_writable_path=/nix
build --sandbox_writable_path=/home/ubuntu/.cache/nix
build --sandbox_writable_path=/home/ubuntu/.cache/helm
build --sandbox_writable_path=/home/ubuntu/.cache/go-mod
build --sandbox_writable_path=/home/ubuntu/.cache/go-build
build --sandbox_writable_path=/home/ubuntu/.earthly
build --sandbox_writable_path=/home/ubuntu/m/cue.mod/gen
build --sandbox_writable_path=/home/ubuntu/m/k
build --sandbox_writable_path=/home/ubuntu/work

build --experimental_remote_cache_compression 
build --legacy_important_outputs
build --noslim_profile --experimental_profile_include_target_label --experimental_profile_include_primary_output 

#try-import /home/ubuntu/.bazelrc-buildbuddy
#build --bes_results_url=https://defn.buildbuddy.io/invocation/
#build --bes_backend=grpcs://defn.buildbuddy.io
#build --remote_cache=grpcs://defn.buildbuddy.io
#build --remote_timeout=3600

build --bes_results_url=https://buildbuddy.district.amanibhavam.defn.run/invocation
build --bes_backend=grpc://10.250.217.203:1985
build --remote_cache=grpc://100.78.177.55:9092
