run --ui_event_filters=-info,-stdout,-stderr
run --noshow_progress
run --noshow_loading_progress

query --ui_event_filters=-info
query --noshow_progress
query --noshow_loading_progress

cquery --ui_event_filters=-info
cquery --noshow_progress
cquery --noshow_loading_progress

info --ui_event_filters=-info
info --noshow_progress
info --noshow_loading_progress
