build --ui_event_filters=-info,-stdout,-stderr
build --noshow_progress
build --noshow_loading_progress
build --sandbox_writable_path=/nix
build --sandbox_writable_path=/home/ubuntu/.cache/nix

run --ui_event_filters=-info,-stdout,-stderr
run --noshow_progress
run --noshow_loading_progress
run --sandbox_writable_path=/nix
run --sandbox_writable_path=/home/ubuntu/.cache/nix