use flake

PATH="$(pwd)/bin:$(pwd)/node_modules/.bin:$PATH"
for a in $(cd cmd && ls -d */); do
    a="${a%/}"
    PATH="$(pwd)/bazel-bin/cmd/${a}/${a}_:$PATH"
done
PATH="$(pwd)/bazel-bin/meh/bin:$PATH"
PATH="$(pwd)/meh/bin:$PATH"