app
.bash_history
d/k3d/defn-dev-bootstrap.yaml
.gnupg/nano5-2@defn.sh
.gnupg/nano5-3@defn.sh
.gnupg/pubring.kbx
.gnupg/trustdb.gpg
.local/share/code-server/coder.json
.local/share/code-server/heartbeat
.local/share/code-server/machineid
.local/share/code-server/User/customBuiltinExtensionsCache.json
.local/share/code-server/User/systemExtensionsCache.json
.ssh/known_hosts
.steampipe/config/default.spc
.steampipe/config/kubernetes.spc
.terraform.d/checkpoint_cache
.terraform.d/checkpoint_signature
.tool-versions
.viminfo
.wget-hsts
work
.direnv
