use flake

PATH="$HOME/bin/$(uname -s):$HOME/bin:$PATH"

export VAULT_TOKEN="$(pass Initial_Root_Token 2>&- || true)"

layout meh

# devcontainer
if test -d /vscode; then
  vsd="$(ls -td /vscode/vscode-server/bin/linux*/* | head -1)"
	PATH="$vsd/bin:$vsd/bin/remote-cli:$vsd/bin/helpers:$PATH"
  unset vsd
fi
