use flake

export CODER_CONFIG_DIR=$HOME/.config/coderv2

PATH="$HOME/bin/$(uname -s):$HOME/bin:$PATH"

layout meh

# devcontainer
if test -d /vscode; then
  vsd="$(ls -td /vscode/vscode-server/bin/linux*/* | head -1)"
	PATH="$vsd/bin:$vsd/bin/remote-cli:$vsd/bin/helpers:$PATH"
  unset vsd
fi
