#layout meh

# nodejs
PATH="$(pwd)/node_modules/.bin:$PATH"

# nix bin
if test -r "${HOME}/bin/nix/.path"; then
    PATH="$(cat "${HOME}/bin/nix/.path"):${PATH}"
fi

# os bin
PATH="$HOME/bin/$(uname -s):$HOME/bin:$PATH"

# personal bin
PATH="$(pwd)/bin:$PATH"