[push]
	default = simple

[core]
	quotepath = false

[pull]
	rebase = false

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[includeIf "gitdir:/home/ubuntu/**"]
    path = /home/ubuntu/.dotfiles/.gitconfig
