[submodule "m/comfyui/repo"]
	path = m/comfyui/repo
	url = https://github.com/comfyanonymous/ComfyUI
[submodule "m/www/defn.dev"]
	path = m/www/defn.dev
	url = git@github.com:defn/defn.dev
	branch = main
[submodule "m/www/hana.studio"]
	path = m/www/hana.studio
	url = git@github.com:defn/hana.studio
	branch = main
