# external
.password-store
.ssh
.asdf
tmp
work
cue.mod/pkg

# working files
node_modules
.bash_history
.viminfo
.vim/plugged
.vscode
.python_history
.local
.cache
.npm
.docker
.tilt-dev
.vscode-server
.wget-hsts
.kube
.swp
.gnupg
.linkerd2
.config/htop
.config/hof
.config/k9s
.config/gops
.config/helm
.config/gh
.config/pypoetry
.loft
.lesshst
.fly
.test
.terraform.d
.buildkite-agent
.earthly
.irb_history
.dead
.alive
.cdktf
.pex/
.pids
.pants.d
.*.lock
