# https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables
# export GIT_AUTHOR_EMAIL=iam@defn.sh
# export GIT_COMMITTER_EMAIL=iam@defn.sh
# export GIT_AUTHOR_NAME=amanibhavam
# export GIT_COMMITTER_NAME=amanibhavam

[push]
  default = simple

[core]
  quotepath = false

[url "https://github.com/"]
  insteadOf = git://github.com/
  insteadOf = ssh://git@github.com/
  insteadOf = git@github.com:

[pull]
  rebase = false

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
