# external
.password-store
.ssh
.asdf
tmp
work
cue.mod/pkg

# working files
.bash_history
.viminfo
.vim/plugged
.vscode
.python_history
.local
.cache
.npm
.docker
.tilt-dev
.vscode-server
.wget-hsts
.gitconfig
.kube
.swp
node_modules
