[push]
	default = simple

[core]
	quotepath = false

[url "git@github.com:defn/"]
	insteadOf = git://github.com/defn/
	insteadOf = ssh://git@github.com/defn/
	insteadOf = https://github.com/defn/
	insteadOf = http://github.com/defn/

[pull]
	rebase = false

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process