# external
.password-store
.ssh
.asdf
tmp
work
cue.mod/pkg
.config/htop
.config/hof
.config/k9s
.config/gops
.config/helm

# working files
.bash_history
.viminfo
.vim/plugged
.vscode
.python_history
.local
.cache
.npm
.docker
.tilt-dev
.vscode-server
.wget-hsts
.gitconfig
.kube
.swp
.gnupg
.linkerd2
