# gcloud local auth
http://localhost:18085 {
	reverse_proxy http://localhost:8085
}

http://*.fly.dev {
	handle_path / {
		reverse_proxy http://localhost:8888
	}

	handle_path /dev/* {
		reverse_proxy http://localhost:8888
	}
}

http://localhost {
	handle_path /dev/* {
		reverse_proxy http://localhost:8888
	}

	handle_path /dev/proxy/10350/ {
		redir {scheme}://tilt-10350.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10351/ {
		redir {scheme}://tilt-10351.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10352/ {
		redir {scheme}://tilt-10352.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10353/ {
		redir {scheme}://tilt-10353.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10354/ {
		redir {scheme}://tilt-10354.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10355/ {
		redir {scheme}://tilt-10355.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10356/ {
		redir {scheme}://tilt-10356.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10357/ {
		redir {scheme}://tilt-10357.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10358/ {
		redir {scheme}://tilt-10358.127.0.0.1.sslip.io
	}

	handle_path /dev/proxy/10359/ {
		redir {scheme}://tilt-10359.127.0.0.1.sslip.io
	}
}

http://tilt-10350.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10350
}

http://tilt-10351.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10351
}

http://tilt-10352.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10352
}

http://tilt-10353.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10353
}

http://tilt-10354.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10354
}

http://tilt-10355.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10355
}

http://tilt-10356.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10356
}

http://tilt-10357.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10357
}

http://tilt-10358.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10358
}

http://tilt-10359.127.0.0.1.sslip.io {
	reverse_proxy http://localhost:10359
}

https://*.*.ts.net,
http://*.mesh,
http://control-0 {
	import .caddy.workspaces/*

	handle_path /dev/* {
		reverse_proxy http://localhost:8888
	}

	handle_path /api/* {
		reverse_proxy http://localhost:3000
	}

	handle_path /hello/* {
		reverse_proxy http://hello.default.svc.cluster.local {
			header_up Host "hello.default.svc.cluster.local"
		}
	}

	handle_path /hi/* {
		reverse_proxy http://hi.default.svc.cluster.local {
			header_up Host "hi.default.svc.cluster.local"
		}
	}

	handle_path /vault/* {
		redir {scheme}://{host}:20000/ui/
	}

	handle_path /argocd/* {
		redir {scheme}://{host}:20001/
	}

	handle_path /kuma/* {
		redir {scheme}://{host}:20002/gui/
	}

	handle_path /nomad/* {
		redir {scheme}://{host}:20003/ui/
	}

	handle_path /temporal/* {
		redir {scheme}://{host}:20004/
	}

	handle_path /demo/* {
		redir {scheme}://{host}:20100/ui/
	}

	handle_path /dev/proxy/10350/ {
		redir http://{host}:10350
	}

	handle_path /dev/proxy/10351/ {
		redir http://{host}:10351
	}

	handle_path /dev/proxy/10352/ {
		redir http://{host}:10352
	}

	handle_path /dev/proxy/10353/ {
		redir http://{host}:10353
	}

	handle_path /dev/proxy/10354/ {
		redir http://{host}:10354
	}

	handle_path /dev/proxy/10355/ {
		redir http://{host}:10355
	}

	handle_path /dev/proxy/10356/ {
		redir http://{host}:10356
	}

	handle_path /dev/proxy/10357/ {
		redir http://{host}:10357
	}

	handle_path /dev/proxy/10358/ {
		redir http://{host}:10358
	}

	handle_path /dev/proxy/10359/ {
		redir http://{host}:10359
	}
}

https://*.*.ts.net:20000 {
	reverse_proxy http://localhost:8200
}

https://*.*.ts.net:20001 {
	reverse_proxy https://argocd-server.argocd.svc.cluster.local {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

https://*.*.ts.net:20003 {
	reverse_proxy http://localhost:4646
}

https://*.*.ts.net:20004 {
	reverse_proxy http://localhost:8233
}

https://*.*.ts.net:20100 {
	reverse_proxy http://localhost:8080
}

import .caddy.d/*
