apiVersion: v1
kind: ConfigMap
metadata:
  name: coder-kubeconfig
  namespace: coder
data:
  config: |
    apiVersion: v1
    kind: Config
    clusters:
      - cluster:
          certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          server: https://kubernetes.default.svc
        name: default
    contexts:
      - context:
          cluster: default
          user: default
        name: default
    current-context: default
    users:
      - name: default
        user:
          tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
