apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: coder
    repo: https://helm.coder.com/v2
    version: 2.29.0
    releaseName: coder
    namespace: coder
    includeCRDs: true
    valuesInline:
      coder:
        env:
          - name: CODER_ACCESS_URL
            value: "https://coder.defn.xxx"
          - name: CODER_WILDCARD_ACCESS_URL
            value: "*.coder.defn.xxx"
          - name: CODER_TLS_ENABLE
            value: "false"
          - name: CODER_DERP_SERVER_ENABLE
            value: "true"
          - name: CODER_DERP_SERVER_RELAY_URL
            value: "https://coder.defn.xxx"
          - name: CODER_ENABLE_TERRAFORM_DEBUG_MODE
            value: "true"
          - name: CODER_BLOCK_DIRECT
            value: "true"
          - name: CODER_DERP_SERVER_STUN_ADDRESSES
            value: "disable"
        podSecurityContext:
          fsGroup: 1000
        initContainers:
          - name: fix-permissions
            image: busybox:latest
            command:
              - sh
              - -c
              - |
                mkdir -p /home/coder/.config/coderv2/postgres/data
                chmod -R 700 /home/coder/.config/coderv2/postgres
                chown -R 1000:1000 /home/coder/.config/coderv2
            volumeMounts:
              - name: coder-data
                mountPath: /home/coder/.config/coderv2
            securityContext:
              runAsUser: 0
        service:
          type: ClusterIP
        ingress:
          enable: true
          className: traefik
          host: coder.defn.xxx
          wildcardHost: "*.coder.defn.xxx"
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
          tls:
            enable: true
            secretName: wildcard-defn-xxx-tls
            wildcardSecretName: wildcard-defn-xxx-tls
        volumes:
          - name: kubeconfig
            configMap:
              name: coder-kubeconfig
          - name: coder-data
            persistentVolumeClaim:
              claimName: coder-data
        volumeMounts:
          - name: kubeconfig
            mountPath: /home/ubuntu/m/k3d/.kube
            readOnly: true
          - name: coder-data
            mountPath: /home/coder/.config/coderv2

resources:
  - cluster-admin.yaml
  - kubeconfig.yaml
  - pvc.yaml

patches:
  - target:
      kind: Deployment
      name: coder
    patch: |-
      - op: replace
        path: /spec/strategy
        value:
          type: Recreate
