apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: coder
    repo: https://helm.coder.com/v2
    version: 2.29.0
    releaseName: coder
    namespace: coder
    includeCRDs: true
    valuesInline:
      coder:
        env:
          - name: CODER_ACCESS_URL
            value: "http://coder.defn.xxx"
        service:
          type: ClusterIP
        ingress:
          enable: true
          className: traefik
          host: coder.defn.xxx
