apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: coder
    repo: https://helm.coder.com/v2
    version: 2.29.0
    releaseName: coder
    namespace: coder
    includeCRDs: true
    valuesInline:
      coder:
        env:
          - name: CODER_ACCESS_URL
            value: "http://coder.defn.xxx"
          - name: CODER_WILDCARD_ACCESS_URL
            value: "*.coder.defn.xxx"
          - name: CODER_DERP_SERVER_ENABLE
            value: "false"
          - name: CODER_ENABLE_TERRAFORM_DEBUG_MODE
            value: "true"
        podSecurityContext:
          fsGroup: 1000
        service:
          type: ClusterIP
        ingress:
          enable: true
          className: traefik
          host: coder.defn.xxx
          wildcardHost: "*.coder.defn.xxx"
        volumes:
          - name: kubeconfig
            configMap:
              name: coder-kubeconfig
          - name: coder-data
            persistentVolumeClaim:
              claimName: coder-data
        volumeMounts:
          - name: kubeconfig
            mountPath: /home/ubuntu/m/k3d/.kube
            readOnly: true
          - name: coder-data
            mountPath: /home/coder/.config/coderv2

resources:
  - cluster-admin.yaml
  - kubeconfig.yaml
  - pvc.yaml
