apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno
    version: 3.6.1
    releaseName: kyverno
    namespace: kyverno
    includeCRDs: true

patches:
  - target:
      kind: CustomResourceDefinition
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-options
        value: ServerSideApply=true
