# ssh-keygen -A -f /tmp
# $(which sshd) -D -f ~/etc/sshd_config 

Port 2222
ListenAddress 127.0.0.1

HostKey /tmp/etc/ssh/ssh_host_rsa_key
HostKey /tmp/etc/ssh/ssh_host_ecdsa_key
HostKey /tmp/etc/ssh/ssh_host_ed25519_key

AuthorizedKeysFile	.ssh/authorized_keys

GatewayPorts clientspecified
StreamLocalBindUnlink yes
