substituters = https://cache.nixos.org http://100.116.216.28:8888/hello
trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hello:xxlLf0Bn2POmi1Y1O1FrfO6tERStSfH79N04pp0D+mQ=

# access-tokens = github.com=gho_...
# alt: NIX_CONFIG="access-tokens = github.com=..."