apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`argocd.defn.xxx`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: headlamp
  namespace: kube-system
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`headlamp.defn.xxx`)
      kind: Rule
      services:
        - name: headlamp
          port: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: kube-system
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`traefik.defn.xxx`)
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: linkerd-viz
  namespace: linkerd-viz
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`linkerd.defn.xxx`)
      kind: Rule
      services:
        - name: web
          port: 8084
