---
name: dev

services:
  home:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - home:/home
      - nix:/nix
      - tailscale:/var/lib/tailscale
    privileged: true
    user: ubuntu
    working_dir: /home/ubuntu
volumes:
  home:
  nix:
  tailscale:
