---
const { title } = Astro.props;
---

<div class="section-title">{title}</div>

<style>
  .section-title {
    font-family: advocate_34_narr_reg;
    font-size: 1.4rem;
    border-bottom: 1px #333;
    padding-top: 1.4rem;
  }
</style>
