# set signups to true if non-admin users can join
export CODER_OAUTH2_GITHUB_ALLOW_SIGNUPS=false

# select the server name and create a corresponding GitHub team
export CODER_OAUTH2_GITHUB_ALLOWED_ORGS=defn
export CODER_OAUTH2_GITHUB_ALLOWED_TEAMS=defn/coder-SERVERNAME
export CODER_SERVER_NAME=SERVERNAME
export CODER_SERVER_DOMAIN=defn.run

# create a GitHub OAuth app and enter the client ID, secrets
export CODER_OAUTH2_GITHUB_CLIENT_ID=
export CODER_OAUTH2_GITHUB_CLIENT_SECRET=
