export CODER_OAUTH2_GITHUB_ALLOW_SIGNUPS=true
export CODER_OAUTH2_GITHUB_DEVICE_FLOW=false
export CODER_OAUTH2_GITHUB_ALLOWED_ORGS=defn
export CODER_OAUTH2_GITHUB_ALLOWED_TEAMS=defn/dev
export CODER_OAUTH2_GITHUB_CLIENT_ID=
export CODER_OAUTH2_GITHUB_CLIENT_SECRET=
