---
import Tutorial from "../layouts/Tutorial.astro";
import Code from "../components/Code.astro";
---

<Tutorial
  title="tolan dang"
  topic="Oven baked wings"
  short="with frank's hot sauce"
>
  <p><h2>Ingredients</h2></p>


  <p>
    <table>
      <thead>
        <tr>
          <th>ingredidents</th>
          <th>quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>chicken wings</td>
          <td> 1 lbs</td>
        </tr>
        <tr>
          <td>baking powder</td>
          <td> 1 tea</td>
        </tr>
        <tr>
          <td>kosher salt</td>
          <td> 1 tea</td>
        </tr>
        <tr>
          <td>butter</td>
          <td> 1.5 tbl</td>
        </tr>
        <tr>
          <td>hot sauce</td>
          <td> 1.5 tbl</td>
        </tr>
      </tbody>
    </table>

  </p>
  <h2>Directions</h2>
  <ol>
  <li><strong> making the wings</strong> </li>
    <ul>
    <li>preheat oven to 450F, racks on upper middle position</li>
    <li>dry wings, combine with baking powder and salt</li>
    <li>prepare tray with oil on top rack, foil on bottom</li>
    <li>place wings on tray and rest uncovered 8 to 24 hours.(20 min for us)</li>
    <li>add wings and cook for 20 minutes, flip wings and cook for 15-30 minutes</li>
    </ul>
  <li><strong>making the sauce </strong></li>
    <ul>
      <li>medium heat, wisk sauce and butter</li> </ul>
  <li><strong> combine wings and sauce </strong></li>    

  </ol>
  <p>
<p>
Reference: kenji
</p>
  </p>
</Tutorial>