[defaults]
nocows = True
roles_path = ./roles
inventory  = ./inventory/inventory.sh

interpreter_python = auto_silent

pipelining = True
host_key_checking = False
deprecation_warnings = False

[ssh_connection]
retries=5