- name: Install hwe kernel
  become: true
  when: ansible_architecture != 'aarch64' and ansible_architecture != 'armv7l'
  apt:
    name:
      - linux-generic-hwe-22.04
    state: present
- name: Install base packages
  become: true
  apt:
    name:
      - direnv
      - curl
      - xz-utils
      - sudo
      - locales
      - git
      - build-essential
      - rsync
      - pipx
      - make
      - net-tools
      - lsb-release
      - tzdata
      - ca-certificates
      - iproute2
      - openssh-client
      - git-lfs
      - fzf
      - jq
      - gettext
      - direnv
      - ncdu
      - apache2-utils
      - fontconfig
      - docker.io
      - tzdata
    state: present
- name: Remove packages
  become: true
  apt:
    name:
      - nano
      - unattended-upgrades
    state: absent
- name: Remove files
  become: true
  file:
    path:
      - /usr/bin/gs
    state: absent
- name: Allow user to run Docker
  become: true
  user:
    name: ubuntu
    groups: docker
    append: "yes"
- name: Create /etc/apt/apt.conf.d directory
  become: true
  file:
    path: /etc/apt/apt.conf.d
    state: directory
    owner: root
    group: root
    mode: "0755"
- name: Delete old apt config
  become: true
  file:
    path: /etc/apt/apt.conf.d/99-Phased-Updates
    state: absent
- name: Disable and stop unattended-upgrades service
  become: true
  systemd:
    name: unattended-upgrades
    enabled: "no"
    state: stopped
