---
import Recipe from "../layouts/Recipe.astro";
---

<Recipe title="NGHIEM FAMILY RECIPES">
  <p class="recipes">
    <a href="/recipe/french-scrambled-eggs">french scrambled eggs</a><br />
  </p>
</Recipe>

<style>
  a {
    font-family: advocate_34_narr_reg;
    font-size: 1.4rem;
    text-decoration: none;
    color: inherit;
  }
</style>
