---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.svelte";
import Button from "../components/Button.astro";

const kv = Astro.locals.runtime.env.kv;
var kv_value = parseFloat(await kv.get("key"));
if (isNaN(kv_value)) {
  kv_value = 1;
}
await kv.put("key", kv_value + 1);

const bucket = Astro.locals.runtime.env.bucket;
var key_value = await bucket.get("key");
var r2_value = "new";
if (key_value !== null) {
  r2_value = await key_value.text();
}
await bucket.put("key", `${kv_value}:${Math.floor(Date.now() / 1000)}`);
---

<Layout>
  <Counter client:visible>
    <Button>
      <div>kv_value: {kv_value}</div>
      <div>r2_value: {r2_value}</div>
    </Button>
  </Counter>
</Layout>
