---
const kv = Astro.locals.runtime.env.kv;
var kv_value = parseFloat(await kv.get("key"));
if (isNaN(kv_value)) {
  kv_value = 1;
}
await kv.put("key", kv_value + 1);

const bucket = Astro.locals.runtime.env.bucket;
var r2_value = await (await bucket.get("key")).text();
await bucket.put("key", `${kv_value}:${Math.floor(Date.now() / 1000)}`);
---

<div>kv_value: {kv_value}</div>
<div>r2_value: {r2_value}</div>
