---
import Layout from "../layouts/Layout.astro";
import UI from "../components/UI.svelte";
import Button from "../components/Button.astro";

const kv = Astro.locals.runtime.env.kv;
var kv_value = parseFloat(await kv.get("key"));
if (isNaN(kv_value)) {
  kv_value = 1;
}
await kv.put("key", kv_value + 1);

const bucket = Astro.locals.runtime.env.bucket;
var key_value = await bucket.get("key");
var r2_value = "new";
if (key_value !== null) {
  r2_value = await key_value.text();
}
await bucket.put("key", `${kv_value}:${Math.floor(Date.now() / 1000)}`);
---

<Layout>
  <UI>
    <Button>
      <div>kv_value: {kv_value}</div>
      <div>r2_value: {r2_value}</div>
    </Button>

    <Button>
      <i class="fas fa-kiwi-bird"></i>
    </Button>

    <div class="fa-4x">
      <span class="fa-layers fa-fw" style="background:MistyRose">
        <i class="fas fa-circle" style="color:Tomato"></i>
        <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
      </span>

      <span class="fa-layers fa-fw" style="background:MistyRose">
        <i class="fas fa-bookmark"></i>
        <i
          class="fa-inverse fas fa-heart"
          data-fa-transform="shrink-10 up-2"
          style="color:Tomato"></i>
      </span>

      <span class="fa-layers fa-fw" style="background:MistyRose">
        <i class="fas fa-play" data-fa-transform="rotate--90 grow-2"></i>
        <i class="fas fa-sun fa-inverse" data-fa-transform="shrink-10 up-2"></i>
        <i
          class="fas fa-moon fa-inverse"
          data-fa-transform="shrink-11 down-4.2 left-4"></i>
        <i
          class="fas fa-star fa-inverse"
          data-fa-transform="shrink-11 down-4.2 right-4"></i>
      </span>

      <span class="fa-layers fa-fw" style="background:MistyRose">
        <i class="fas fa-calendar"></i>
        <span
          class="fa-layers-text fa-inverse"
          data-fa-transform="shrink-8 down-3"
          style="font-weight:900">27</span
        >
      </span>

      <span class="fa-layers fa-fw" style="background:MistyRose">
        <i class="fas fa-certificate"></i>
        <span
          class="fa-layers-text fa-inverse"
          data-fa-transform="shrink-11.5 rotate--30"
          style="font-weight:900">NEW</span
        >
      </span>

      <span class="fa-layers fa-fw" style="background:MistyRose">
        <i class="fas fa-envelope"></i>
        <span class="fa-layers-counter" style="background:Tomato">1,419</span>
      </span>
    </div>
  </UI>
</Layout>
