---
import Recipe from "../../layouts/Recipe.astro";
import Ingredients from "../../components/Ingredients.astro";
import Procedures from "../../components/Procedures.astro";
---

<Recipe title="FRENCH SCRAMBLED EGGS">
  <Ingredients>
    <li>eggs</li>
    <li>butter</li>
    <li>salt</li>
  </Ingredients>

  <Procedures>
    <li>Whisk eggs</li>
    <li>Pour into pan on low</li>
    <li>Add butter</li>
  </Procedures>
</Recipe>
