#ManagedBy: cue

patches: []
resources:
  - resource-namespace-dex.yaml
  - resource-ingress-dex.yaml
namespace: dex
commonLabels: {}
commonAnnotations: {}
helmCharts:
  - releaseName: dex
    name: dex
    version: 0.15.3
    repo: https://charts.dexidp.io
    namespace: dex
    valuesInline:
      config:
        issuer: https://dex.dev.amanibhavam.defn.run
        storage:
          type: memory
        enablePasswordDB: true
        connectors:
          - type: github
            id: github
            name: GitHub
            config:
              clientID: $GITHUB_CLIENT_ID
              clientSecret: $GITHUB_CLIENT_SECRET
              redirectURI: https://dex.dev.amanibhavam.defn.run/callback
              orgs:
                - name: defn
                  teams:
                    - class
              teamNameField: slug
              loadAllGroups: false
              useLoginAsID: false
    includeCRDs: true
