---
const { title, topic, short } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://f.d3fn.com/webfonts/valkyrie_a.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
      integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/tokyo-night-dark.min.css"
      integrity="sha512-dSQLLtgaq2iGigmy9xowRshaMzUHeiIUTvJW/SkUpb1J+ImXOPNGAI7ZC8V5/PiN/XN83B8uIk4qET7AMhdC5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.9.0/highlightjs-line-numbers.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>

    <script>
      // @ts-ignore
      hljs.highlightAll();
      // @ts-ignore
      hljs.initLineNumbersOnLoad();
    </script>

    <style>
      @font-face {
        font-family: "pragmatapro";
        src: url("https://f.d3fn.com/webfonts/PragmataPro0.830W/PragmataPro_Mono_R_liga_0830.woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
      }

      body {
        font-family: valkyrie_a;
        line-height: 1.4;
        font-size: 0.98rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1000px;
        min-height: 100%;
        position: relative;
      }

      p {
        margin-bottom: 1em;
      }

      pre code {
        font-family: pragmatapro;
        font-size: 1rem;
        margin: 0;
        padding: 1rem;
        display: block;
        overflow-x: auto;
        border-radius: 5px;
      }

      div#content {
        padding: 0;
        margin: 1.5rem;
      }

      .topic {
        display: block;
        font-size: 125%;
        letter-spacing: 0.02em;
        font-style: normal;
        font-weight: bolder;
        line-height: 1.1;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
      }

      .short {
        line-height: 1.25;
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <div id="content">
      <header>
        <div class="topic">{topic}</div>
        <div class="short">{short}</div>
      </header>

      <main>
        <slot />
      </main>
    </div>
  </body>

  <script>
    window.onload = function () {
      setTimeout(function () {
        var customStyle = document.createElement("style");
        customStyle.innerHTML =
          ".hljs-ln-n {padding-right: 1rem} .hljs-ln-line { font-family: pragmatapro; }";
        document.head.appendChild(customStyle);
      }, 100);
    };
  </script>
</html>
